# ─── Keycloak DB ────────────────────────────────────────────────
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# ─── Keycloak Admin ─────────────────────────────────────────────
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080

# ─── NestJS → Keycloak ──────────────────────────────────────────
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=beneficiario-realm
KEYCLOAK_CLIENT_ID=beneficiario-backend
KEYCLOAK_CLIENT_SECRET=change-me
